.navbar-custom {
  background-color: #f2c744; /* Classic dark background */
}

.navbar-custom .navbar-brand {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222222; /* Gold color for brand name */
}

.navbar-custom .nav-link-custom {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  transition: transform 0.3s ease, color 0.3s ease;
  color: #222222;
  font-weight: 600;
}

.navbar-custom .nav-link-custom:hover {
  transform: scale(1.1);
  color: #222222;
}

header div h2 {
  color: #222222;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  transition: transform 0.1s ease, color 0.1s ease;
}

header div h2:hover {
  color: #222222;
  cursor: pointer;
  transform: scale(1.9);
}